.hero-image{
  width: 100%
  background-image: url("https://josephschlach.github.io/LAKE.jpg");
  height: 50%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #7c7c7c
}

.body{
  width: 720px
}

h4{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #7c7c7c
}

h2{
 font-size: 35px;
 font-family: 'Roboto', sans-serif;
}

h3{
font-size: 25px;
font-family: 'Roboto', sans-serif;
}

p{
 font-size: 15px;
 font-family: 'Source Sans Pro', sans-serif;
}

