.hero-image{
  width: 100%
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://josephschlach.github.io/LAKE.jpg");
  height: 50%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #7c7c7c
}

h4{
 font-size: 15px;
font-family: 'Roboto', sans-serif;
 text-align: center;
}

h2{
 font-size: 35px;
font-family: 'Roboto', sans-serif;
}

h3{
font-size: 25px;
font-family: 'Roboto', sans-serif;
}

p{
 font-size: 15px;
font-family: 'Source Sans Pro', sans-serif;
}

