.banner{
  width: 100%
  display: bock;
}

h1{
 font-size: 50px;
font-family: 'Roboto', sans-serif;
 text-align: center;
}

h4{
 font-size: 15px;
font-family: 'Roboto', sans-serif;
 text-align: center;
}

h2{
 font-size: 35px;
font-family: 'Roboto', sans-serif;
}

h3{
font-size: 25px;
font-family: 'Roboto', sans-serif;
}

p{
 font-size: 15px;
font-family: 'Source Sans Pro', sans-serif;
}

